@{
    ViewBag.Title = "Add";
}

<h2>Add a New Pet</h2>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<form method="POST" action="/Species/Add">
    <!-- TODO: format this nicely -->
    <div><span>Name:</span><input id="SpeciesName" type="text" name="SpeciesName" /></div>
    <input type="submit" value="Add Species">
</form>
