body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Add New ===========*/
input {
    border-radius: 7px;
}

div {
    margin-top: 5px;
}
input {
    margin: 10px ;
}
label {
    margin-right: 10px;
}

submit {
    margin-top: 10px;
    background-color: deeppink;
    color: white;
    line-height: 1.8em;
    border-radius: 7px;
}
/*Navigat Bar ======*/
.navbar-inverse {
    background-color: navy;
    color: white;
}
/*.navbar-brand > li > a .navbar-inverse > li > a .navbar-nav > li > a {
    color: red;
}*/
